body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'aron';
}

@font-face {
    font-family: aron;
    src: url(../font/aron/Aron-Regular-BF6556dd3e538a2.ttf);
}

.container {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 2px solid rgb(255, 255, 255);
}

thead th {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    font-weight: normal;
}

tbody td {
    background-color: rgba(30, 30, 30, 1);
    color: #FFF;
    padding: 10px;
}

tbody tr {
    border-bottom: 1px solid rgba(30, 30, 30, 1);
}

.button-container {
    text-align: right;
}

.next-button {
    background-color: #00C389;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-button span {
    margin-left: 10px;
    font-size: 20px;
}
