body {
    background-color: black;
}

.bomb {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(249, 249, 249);
    background-color: rgba(30, 30, 30, 1);
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 125px 125px 125px 25px 125px 125px 125px 125px;
    grid-template-rows: 110px 110px 110px 110px 110px;
    padding: 20px;
    border-radius: 2%;
    z-index: 1;
}

.gameArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: calc(110px * 5 + 20px);
    padding: 40px;
}
.gameArea.Tremedeira{
    animation: Tremedeira 0.1s infinite;
}
@keyframes Tremedeira {
    0%{
        left: 50.1%;
        top: 49.9;
    }
    25%{
        margin-right: -5px;
    }

    50%{
        left: 49.9%;
        top: 50.1%;
        
    }
    75%{
        margin-right: 5px;
    }

    100%{
        left: 50%;
        top: 50%;
        margin-right: 0px;
    }
}
@font-face {
    font-family: Digital-font;
    src: url(../font/ds_digital/DS-DIGI.TTF);
}

.Esquerda {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(249, 249, 249);
    display: grid;
    grid-template-rows: 1fr 3fr;
    padding: 10px;
    border-radius: 2%;
    box-shadow: 10px 5px 50px black;
}

.Direita {
    grid-row-start: 3;
    grid-row-end: 1;
    grid-column-end: 5;
    grid-column-start: 9;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(249, 249, 249);
    padding: 15px;
    position: relative;
    border-radius: 2%;
    box-shadow: inset -5px -5px 0px rgb(12, 12, 12);
}

.relogio {
    display: flex;
    /* Adiciona display flex */
    justify-content: center;
    /* Alinha horizontalmente */
    align-items: center;
    /* Alinha verticalmente */
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(249, 249, 249);
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

#Timer{
    font-size: 200px;
    font-family: Digital-font;
    color: white;
}
#Timer.Erro{
    animation: TimerErrar 1s;
}
#Timer.Erro2{
    animation: TimerErrar 2s infinite;
}

@keyframes TimerErrar{
    0%{
        color: white;
    }
    25%{
        color: red;
    }
    50%{
        color: white;
    }
    75%{
        color: red;
    }
    100%{
        color: white;
    }
}
.cima {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-end: 1;
    grid-column-start: 2;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(249, 249, 249);
    display: flex;
    /* Adiciona display flex */
    flex-direction: row;
    /* Alinha horizontalmente */
    justify-content: space-between;
    /* Distribui os 'digitos' igualmente */
    padding-top: 20%;
    padding-inline: 35px;
}

.baixo {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-end: 1;
    grid-column-start: 2;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(249, 249, 249);
    padding: 10px;
}
.digito {
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin: 10px;
    /* Adiciona margem para separar os 'digitos' */
    color: #fff;
    box-shadow:
        0 0 7px #ff4545,
        0 0 10px rgb(255, 0, 0),
        0 0 21px rgb(255, 0, 0),
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 0),
        0 0 92px rgb(255, 0, 0),
        0 0 102px rgb(255, 0, 0),
        0 0 151px rgb(255, 0, 0);
    
}
.digito.active {
    background-color: rgb(144, 255, 144);
    color: white;
    box-shadow:
        0 0 7px rgb(2, 255, 2),
        0 0 10px rgb(2, 255, 2),
        0 0 21px rgb(2, 255, 2),
        0 0 42px rgb(2, 255, 2),
        0 0 82px rgb(2, 255, 2),
        0 0 92px rgb(2, 255, 2),
        0 0 102px rgb(2, 255, 2),
        0 0 151px rgb(2, 255, 2);
}

.key {
    font-family: 'Courier New', Courier, monospace;
    height: 80px;
    width: 85px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(249, 249, 249);
    color: #f0f0f0;
    border-radius: 10px;
    font-size: 40px;
    margin-bottom: 1px;
    margin-top: 5px;
    margin-inline: 1px;
    display: inline-grid;
    align-items: center;
    text-align: center;
    box-shadow: inset 0 5px 1px black,
        10px 5px 5px rgba(8, 8, 8, 0.2),
        10px 5px 5px rgba(8, 8, 8, 0.2);
}
.apagar{
    font-family: 'Courier New', Courier, monospace;
    height: 80px;
    width: 85px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(249, 249, 249);
    color: #f0f0f0;
    border-radius: 10px;
    font-size: 40px;
    margin-bottom: 1px;
    margin-top: 5px;
    margin-inline: 1px;
    display: inline-grid;
    align-items: center;
    text-align: center;
    box-shadow: inset 0 5px 1px black,
        10px 5px 5px rgba(8, 8, 8, 0.2),
        10px 5px 5px rgba(8, 8, 8, 0.2);
    background-color: rgba(30, 30, 30, 1);

}
.apagar:hover{
    background-color: rgb(26, 26, 26);
    cursor: pointer;
}
.teclas {
    width: 90%;
    margin: auto;
    text-align: center;
}

.key:hover {
    background-color: rgb(26, 26, 26);
    cursor: pointer;
}

.fioVermelho {
    position: absolute;
    top: 25%;
    left: 0;
    transform: translateY(-50%);
    height: 200px;
    width: 40px;
    border-top: 5px solid rgb(255, 0, 0);
    border-bottom: 5px solid rgb(255, 0, 0);
    border-left: 5px solid rgb(255, 0, 0);
    border-radius: 60px 0% 0% 40px;

}
.fioVermelho:hover {
    cursor: pointer;
    box-shadow: inset rgb(255, 0, 0) 0px 0px 20px,
    rgb(255, 0, 0) 0px 0px 20px;
}


.fioAmarelo {
    position: absolute;
    top: 70%;
    left: 0;
    transform: translateY(-50%);
    height: 200px;
    width: 40px;
    border-top: 5px solid rgb(255, 234, 0);
    border-bottom: 5px solid rgb(255, 234, 0);
    border-left: 5px solid rgb(255, 234, 0);
    border-radius: 30px 0% 0% 70%;

}
.fioAmarelo:hover {
    cursor: pointer;
    box-shadow: inset rgb(255, 234, 0) 0px 0px 20px,
    rgb(255, 234, 0) 0px 0px 20px;
}

.fioAzul {
    position: absolute;
    top: 70%;
    left: 94%;
    transform: translateY(-50%);
    height: 200px;
    width: 50px;
    border-top: 5px solid rgb(4, 134, 220);
    border-bottom: 5px solid rgb(4, 134, 220);
    border-right: 10px solid rgb(4, 134, 220);
    border-radius: 0px 60px 70px 0px;
}

.fioAzul:hover {
    cursor: pointer;
    box-shadow: inset rgb(4, 134, 220) 0px 0px 30px,
    rgb(4, 134, 220) 0px 0px 30px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000000;
    ;
}

html {
    height: 100%;
}

#content {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    width: 95%;
    height: 95%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(23, 23, 23);
    transform: translate(-50%, -50%);
    background-image:
        linear-gradient(0deg, transparent 9%,
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
        linear-gradient(90deg, transparent 9%,
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);

    background-size: 50px 50px;
}


.toolbar {
    position: relative;
    /* changed from absolute to fixed */
    top: 50%;
    /* adjust the top position */
    right: 20px;
    /* adjust the right position */
    width: 50px;
    /* adjusted the width */
    height: auto;
    /* adjusted the height */
    background-color: rgba(30, 30, 30, 0.8);
    /* added a dark background with transparency */
    display: flex;
    /* changed to flexbox */
    flex-direction: column;
    /* stacked the items vertically */
    align-items: center;
    /* centered the items horizontally */
    left: 5%;
    transform: translateY(-50%);
    z-index: 2;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.toolbar .img {
    width: 30px;
    /* adjusted the width */
    height: 30px;
    /* adjusted the height */
    cursor: pointer;
    /* added a pointer cursor */
}

.toolbar .img:hover {
    background-color: rgba(49, 221, 149, 1);
    /* added a hover effect */
}

.toolbar .button {
    padding: 10px;
    /* added some padding */
    border: none;
    /* removed the border */
    background-color: rgba(216, 216, 216, 0.8);
    /* matched the toolbar background */
    color: #fff;
    /* changed the text color to white */
    cursor: pointer;
    /* added a pointer cursor */
    display: flex;
    /* adicionado */
    justify-content: center;
    /* adicionado */
}

.toolbar .button:hover {
    background-color: rgba(49, 221, 149, 1);
    /* added a hover effect */
}


.abaixoDireita {
    position: relative;
    width: 230px; 
    height: 290px; 
    margin-top: 250px;
    margin-left: 30px; 
    border-radius: 10px; 
    border: solid white;
    box-shadow: 10px 5px 50px black;
}

.tampa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    135deg,
    rgba(48, 48, 48, 0.7) 0%,
    rgba(51, 51, 51, 0.7) 25%,
    rgba(60, 60, 60, 0.7) 50%,
    rgba(48, 48, 48, 0.7) 75%,
    rgba(49, 49, 49, 0.7) 100%
  ),
  radial-gradient(
    circle at 20% 20%,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.4)
  ),
  radial-gradient(
    circle at 80% 80%,
    rgba(31, 31, 31, 0.2),
    rgba(31, 31, 31, 0.6)
  );
  background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    
}
.tampa.mexer{
    animation: MexerTampa 3s ease-in-out;
}
@keyframes MexerTampa{
    0%{
        left: 0;
    }
    100%{
        left: 300px;
    }
}
.compartimentoEnergia {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    margin-top: 10px;
    margin-inline: 20px;
    border-color: rgb(249, 249, 249);
    background-color: rgba(30, 30, 30, 1);
    border-radius: 5%;
    padding: 3px;
    height: 266px;
    box-shadow: 10px 5px 50px black inset;
    overflow: hidden; 
    cursor: alias;
}

.pilha {
    margin-top: 2%; /* Remove o espaçamento entre as pilhas */
    width: 40%; /* Faz com que a pilha ocupe 40% da largura do container */
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center; /* Centraliza as imagens dentro de cada pilha */
}

.pilha img {
    width: 180px; /* Ajusta a largura para que a altura da imagem seja respeitada */
    object-fit: fill;
    box-shadow: inset 0px -31px 15px -3px rgba(0,0,0,0.1);
}


