body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: rgba(49, 221, 149, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'aron';
}

@font-face {
    font-family: aron;
    src: url(../font/aron/Aron-Regular-BF6556dd3e538a2.ttf);
}

.container {
    text-align: center;
}

.content {
    padding: 20px;
    display: inline-block;
    position: relative;
}

.titulo h1 {
    border: 2px solid rgba(49, 221, 149, 1);
    padding: 20px;
    padding-inline: 60px;
    background-color: #101010;
    margin: 0;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 2px;
}

.subtitulo p {
    margin: 10px 0 30px 0;
    font-size: 18px;
}

.continuar button {
    background-color: rgba(49, 221, 149, 1);
    border: none;
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.continuar button:hover {
    background-color: rgb(30, 161, 106);
}

.continuar button:active {
    background-color: rgba(49, 221, 149, 1);
}

#proximo {
    display: inline-block;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
}

#proximo::after {
    content: '➔';
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
}

h1, p, button {
    color: rgba(49, 221, 149, 1);
}

